.main{
    position: relative;
    background-attachment: fixed;
}
.main-greet-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation-duration: 1.5s;
    animation-name: main-greet-content;
    position: relative;
    top:-5vh;
}
@keyframes main-greet-content {
    from {
        top: -100vh
    }
    to {
        top: -5vh;
    }
}
.mood-box{
    position: relative;
    animation-duration: 4.5s;
    animation-name:mood-box;
    top: -13vh;
    left: -23%;
}
@keyframes mood-box {
    0%{
        top:0;
        left: 0;
    }
    33%{
        top:0;
        left: 0;
    }
    66%{
        top:-13vh;
        left: 0;
    }
    100%{
        top: -13vh;
        left: -23%;
    }
}
.diary-box{
    position: relative;
    animation-duration: 4.5s;
    animation-name:diary-box;
    top: 13vh;
    left: 23%;
}
@keyframes diary-box {
    0%{
        top:0;
        left: 0;
    }
    33%{
        top:0;
        left: 0;
    }
    66%{
        top:13vh;
        left: 0;
    }
    100%{
        top: 13vh;
        left: 23%;
    }
}
.main-greet-content-title {
    color: var(--dark-green);
    font-size: 300px;
    line-height: 220px;
    position: relative;
    text-shadow: 10px 25px 30px var(--lite-green);
    user-select: none;
}

.main-greet-content-span {
    display: block;
}
.main-greet-content-arrow{
    position: absolute;
    top: 75vh;
    left: 17vw;
    animation-name: main-greet-arrow;
    animation-duration: 5s;
}
@keyframes main-greet-arrow {
    0%{
        top:150vh;
    }
    80%{
        top:150vh;
    }
    100%{
        top: 75vh;
    }

}
.main-greet-content-arrow-svg{
    width: 150px;
    height: 150px;
    animation-name: main-greet-arrow-svg;
    animation-delay: 4.5s;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}
@keyframes main-greet-arrow-svg {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}
.main-greet-content-arrow-svg path{
    stroke: var(--dark-green);
}
