.profile{
    position: relative;
    background-attachment: fixed;
}
.profile-content{
    display: flex;
    padding-top: 2vh;
    justify-content: center;
    height: max-content;
    width: 80%;
    margin: 0 auto;
}