.error-message {
    display: flex;
    opacity: 0;
    position: absolute;
    top: 5vh;
    left: 5vw;
    padding: 3%;
    width: 350px;
    border-radius: 10px;
    background-color: var(--lite-corall);
    animation-name: error-message;
    animation-duration: 5s;
}

@keyframes error-message {
    0% {
        opacity: 100%;
        top: -50vh;
    }
    25% {
        top: 5vh;
        opacity: 100%;
    }
    50% {
        top: 5vh;
        opacity: 100%;
    }
    100% {
        top: 5vh;
        opacity: 0;
    }
}
