.todo-main {
  width: 66.6%;
  min-height: 50vh;
}
.date {
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 10px;
  width: 35%;
}
.date-btn {
  background-color: transparent;
  padding-top: 6px;
}
.date-text {
  font-size: 25px;
  padding: 0 5%;
}
.date-svg {
  fill: var(--dark-green);
}
.date-svg-first {
  transform: rotate(180deg);
}
.todo-list-conteiner {
  background-color: var(--todo);
  padding: 15px;
  display: flex;
  min-height: 70vh;
  border-radius: 10px;
  margin: 20px;
}
