.header {
    position: sticky;
    top:0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 92vh;
    width: max-content;
    padding: 4vh 0.5%;
    background-color: var(--dark-green);
    z-index:5;
}

.header-high {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header-link {
    margin-bottom: 2.5vh;
}

.header-link:last-child {
    margin-bottom: 0;
}

.header-link-svg {
    fill: var(--lite-green);
    transition: 1s;
}

.header-link-svg:hover {
    fill: var(--lite-corall);
}