.header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
    width: max-content;
    padding: 5vh 2%;
    background-color: var(--lite-green);
}
.header-high{
    display: flex;
    flex-direction: column;
}