.profile-feed{
    width: 80%;
    margin: 0 auto;
    display: flex;
    padding-top: 10vh;
    justify-content: space-between;
}
.profile-feed-column{
    display: flex;
    flex-direction: column;
    width: 49%;
}