.profile-feed{
    width: 80%;
    margin: 0 auto;
    display: flex;
    padding-top: 10vh;
    justify-content: space-between;
    animation-name: profile-feed;
    animation-duration: 2s;
    opacity: 1;
}
@keyframes profile-feed {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.profile-feed-column{
    display: flex;
    flex-direction: column;
    width: 49%;
}