.habit-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--habits);
  padding: 25px 15px;
  border-radius: 16px;
  box-shadow: 1px 1px 3px var(--habits-lite);
}
.habit-container {
  display: flex;
  align-items: center;
}
.habit-item-img {
  width: 120px;
  margin-right: 25px;
}
.habit-item-icon {
  background-color: transparent;
}
