.login-box-open {
    animation-duration: 2s;
    animation-name: login-box-open;
    left: 22%;
}

@keyframes login-box-open {
    from {
        left: -100%;
    }
    to {
        left: 22%;
    }
}
.login-box-close {
    animation-duration: 2s;
    animation-name: login-box-close;
    left: 100%;
}

@keyframes login-box-close {
    from {
        left: 22%;
    }
    to {
        left: 100%;
    }
}
